.home{
    display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
    
}
.home h1{
    margin: 0;
    text-align:center ;
    color: white;
    font-size: 20px;
    padding-top: 1rem;
}
.home h2{
    margin: 0;
    text-align:center ;
    color: white;
    font-size: 20px;
    padding-top: 1rem;
}

   .home img{
    margin-top: 20PX;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
   }
